<div class="container-dino-info">
    <h3 class="dino-info-title">Sample Title</h3>
    <p class="dino-info-fact">Large</p>
    <!--    Weight and Height-->
    <div style="flex: 1; flex-direction: row">
        <p class="dino-info-height">600 ft</p>
        <p class="dino-info-weight">20000 lbs</p>
    </div>
    <!--    Where When Diet data-->
    <div style="flex: 1; flex-direction: row">
        <p class="dino-info-where">North America</p>
        <p class="dino-info-when">2020</p>
        <p class="dino-info-diet">Omnivore</p>
    </div>
    <div class="dino-info-img-div">
        <img class="dino-info-img" src="../images/human.png" alt="Dino"/>
    </div>
</div>